body {
    /* 배경색 지정 */
    background-color: #a1d0ff;
}

.container {
    /* 넓이 지정 */
    width: 300px;
    /* 가운데 정렬 */
    margin: 0 auto;
}

.contents,
.title {
    /* 배경색 지정 */
    background-color: white;
    /* 그림자 지정 */
    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.15);
}

.title {
    /* 타이틀 가운데로 설정 */
    text-align: center;
}

.contents {
    /* 컨텐츠 영역의 내부 여백 지정 */
    padding: 10px;
}

.input-div {
    /* 입력 영역의 display 지정 */
    display: flex;
    /* flexbox란 화면의 요소의 크기가 불명확하거나 동적으로 변할 때에도 
    효율적으로 요소를 배치, 정렬, 분산할 수 있는 방법을 제공하는 CSS3의 새로운 레이아웃 방식입니다. */
}

#inputBox {
    /* 입력하는 input태그의 우선순위 지정 */
    flex-grow: 1;
    /* 입력하는 input태그의 높이 지정 */
    height: 30px;
}

li {
    /* 앞에 생기는 점 삭제 */
    list-style: none;
    /* li 태그 별 높이 바깥 여백 지정 */
    margin: 20px 0;
}

ul {
    /* ul 내부의 왼쪽 여백 0으로 지정 */
    padding: 0;
}

#deleteButton {
    /* 삭제 버튼의 좌우 바깥 여백 지정 */
    margin: 0 5px;
}

.checked {
    /* 체크되었을 시 내용의 중간줄 지정 */
    text-decoration: line-through;
}
